@import 'module/clearfix';
@import 'module/header';

html {
  background-color: #000;
  color: #FFF;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  font-family: 'Lato', sans-serif;
  letter-spacing: .033em;
}

a {
  color: inherit;
  text-decoration: none;
}

#Content {
  z-index: 5;
}

#Canvas {
  position: absolute;
  top: 0;
  z-index: -5;
  display: block;
  background-color: #012;
  width: 100%;
  height: 100vh;/* calc(95vh - 3em);*/
  /* background-image: linear-gradient(#124, #012); */
}
