html {
  background-color: #000;
  color: #FFF;
  font-weight: 300;
}

.ProjectHead {
  line-height: 1.5em;
}
.ProjectHead .Title {
  background-color: #46C;
  padding: 0.5em;
}
.ProjectHead .Title::after {
  content: "";
  display: block;
  float: none;
  clear: both;
}
.ProjectHead .Title .Language {
  height: 3.5em;
  display: block;
  float: left;
}
.ProjectHead .Title .Name {
  margin-top: 0.35em;
  margin-left: 0.2em;
  font-weight: 100;
  font-size: 2.75em;
  float: left;
}
.ProjectHead .Details {
  border-top: 1px solid #0003;
  background-color: #46CD;
  font-weight: 300;
  padding: 0.5em;
}
.ProjectHead .Details > div {
  margin-bottom: 0.33em;
}
.ProjectHead .Details .ProjectProperty {
  display: inline-block;
  text-decoration: none;
  color: inherit;
  margin-right: 0.2em;
}
.ProjectHead .Details .ProjectProperty.Link {
  padding: 0.25em;
  transition: background 0.3s ease;
  background-color: #0003;
}
.ProjectHead .Details .ProjectProperty.Link:hover {
  background-color: #0008;
}
.ProjectHead .Details .ProjectProperty .Icon {
  height: 1.25em;
  position: relative;
  bottom: -0.25em;
  margin-right: 0.1em;
}

.ProjectBody {
  font-weight: 300;
  padding: 0.5em;
}
