html {
  background: #FFF;
  scroll-behavior: smooth;
}
html * {
  cursor: default;
}

.Page {
  height: 100vh;
  width: 100%;
  padding: 0.01px;
  position: relative;
  z-index: 50;
}

.PageButtons {
  position: absolute;
  bottom: 10vh;
  left: 50%;
}
.PageButtons .Row {
  margin-top: 0.5em;
}
.PageButtons .Button {
  transform: translateX(-50%);
}

#Landing {
  height: 100vh;
  padding: 0.01px;
}
@media only screen and (max-resolution: 149dpi) {
  #Landing .Button {
    font-size: 1.2em;
  }
}

#Contact {
  text-align: center;
}
#Contact h1 {
  margin-top: 10vh;
}
#Contact h4 {
  margin-top: 2.5em;
}

.Project .ProjectTitle {
  padding: 0.5em;
}
.Project .ProjectTitle::after {
  content: "";
  display: block;
  float: none;
  clear: both;
}
.Project .ProjectTitle .Language {
  height: 3.5em;
  display: block;
  float: left;
}
.Project .ProjectTitle .Name {
  margin-top: 0.05em;
  margin-left: 0.2em;
  font-weight: 200;
  font-size: 2.75em;
  float: left;
}
.Project .ProjectProperty {
  display: inline-block;
  text-decoration: none;
  color: inherit;
  margin-right: 0.2em;
}
.Project .PropertyIcon {
  height: 1.25em;
  position: relative;
  bottom: -0.25em;
  margin-right: 0.1em;
}
.Project .ProjectDetails, .Project .ProjectBody {
  padding: 0.5em;
}
.Project .ProjectDetails {
  font-size: 1.1em;
  position: relative;
  padding-bottom: 0.75em;
}
.Project .ProjectDetails::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  width: calc(100% - 1em);
  height: 2px;
  background-color: #631F27;
}

#Top {
  position: fixed;
  bottom: 1em;
  right: 1em;
  padding: 0.5em 1em;
  border-radius: 2em;
  background-color: #000C;
  transition: all 0.3s ease;
  color: #FFF;
  z-index: 100;
  text-align: center;
  cursor: pointer;
}
#Top:hover {
  background-color: #631F27;
}
#Top.Highlight {
  right: 50%;
  transform: translateX(50%);
  min-width: 4em;
  font-size: 1.2em;
}

#Canvas {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 0;
  display: block;
  background: none;
  width: 100%;
  height: 100vh;
  transition: all 1s linear;
}
#Canvas.Inactive {
  opacity: 0.5;
}
#Canvas.Intro {
  opacity: 0;
}

.Title {
  margin-top: 10vh;
  box-sizing: border-box;
  padding: 1.25em;
  font-size: 1.33rem;
  opacity: 1;
  transition: opacity 0.5s ease;
  text-align: center;
}
.Title.Intro {
  opacity: 0;
}
@media only screen and (min-resolution: 150dpi) and (orientation: portrait) {
  .Title {
    font-size: 1rem;
  }
}
.Title .Main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
.Title .Main img {
  position: relative;
  z-index: 5;
  height: 3em;
  width: 3em;
  margin-right: 1.5em;
  transition: transform 0.5s ease;
}
@media only screen and (min-resolution: 150dpi) and (orientation: portrait) {
  .Title .Main img {
    height: 2em;
    width: 2em;
  }
}
.Title .Main img.Intro {
  transform: rotate(90deg);
}
.Title .Main img:hover {
  transform: rotate(90deg);
}
.Title .Main h1 {
  font-weight: 200;
  text-align: center;
  font-size: 3em;
  margin: 0;
}
@media only screen and (min-resolution: 150dpi) and (orientation: portrait) {
  .Title .Main h1 {
    font-size: 2em;
  }
}
.Title p {
  float: none;
  clear: both;
}

.Button {
  display: inline-block;
  box-sizing: border-box;
  padding: 0.5em 1em;
  border-radius: 2em;
  background-color: #000C;
  transition: all 0.3s ease;
  color: #FFF;
  cursor: pointer;
}
.Button:hover {
  background-color: #631F27;
}
.Button .Symbol {
  margin: 0 0.25em;
  transform: scale(2);
}
.Button * {
  cursor: pointer;
}
