html {
  background-color: #634;
}

#Background {
  z-index: -1;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: calc(100vw - (100vw - 100%));
  background-color: #000;
  transition: opacity 1s ease;
  background-image: url("/img/coding.jpg");
  background-position: center;
  background-size: cover;
  background-blend-mode: luminosity;
  background-color: #634;
  filter: blur(0.25em) brightness(50%);
}

#Content {
  position: static;
  top: 0;
  margin: 0;
  display: block;
  color: #FFF;
  padding: 0;
}

#Container {
  opacity: 1;
  transition: opacity 0.5s ease;
}
#Container.Intro {
  opacity: 0;
}
#Container #ListingContainer .Project {
  background-color: #333;
  transition: all 0.3s ease;
  transition-property: color, background, height, opacity;
  overflow: hidden;
  opacity: 0.7;
  position: relative;
  float: none;
  clear: both;
}
@media only screen and (max-resolution: 149dpi) {
  #Container #ListingContainer .Project {
    margin: 0.75em;
  }
}
@media only screen and (min-resolution: 150dpi) {
  #Container #ListingContainer .Project {
    margin: 0.75em 0;
  }
}
#Container #ListingContainer .Project.on {
  background-color: #46C;
  height: 8em;
  opacity: 0.9;
}
#Container #ListingContainer .Project.off {
  height: 2.75em;
  cursor: pointer;
}
#Container #ListingContainer .Project.off h2 {
  margin-bottom: 0.5em;
}
#Container #ListingContainer .Project.off .ProjectBody .Tags {
  display: none;
}
#Container #ListingContainer .Project.off .ButtonMore {
  width: 0;
}
#Container #ListingContainer .Project:hover {
  opacity: 0.9;
}
#Container #ListingContainer .Project .Content {
  float: left;
  width: calc(100% - 6em);
  padding: 0.3em 0.5em;
  box-sizing: border-box;
  font-weight: 300;
}
#Container #ListingContainer .Project .Content h2 {
  transition: margin 0.3s ease;
}
#Container #ListingContainer .Project .Content .ProjectBody .Tags {
  position: absolute;
  bottom: 0.1em;
}
#Container #ListingContainer .Project .ButtonMore {
  float: right;
  width: 4em;
  height: 100%;
  box-sizing: border-box;
  text-align: center;
  background: #CCCD;
  color: #000;
  transition: all 0.3s ease;
  transition-property: width, background;
  cursor: pointer;
}
#Container #ListingContainer .Project .ButtonMore div {
  margin-top: 2.25em;
  text-align: center;
  font-weight: 300;
}
#Container #ListingContainer .Project .ButtonMore div .Symbol {
  display: block;
  font-size: 1.5em;
}
#Container #ListingContainer .Project .ButtonMore:hover {
  width: 6em;
}
#Container #ListingContainer .Project h2 {
  margin: 0.1em 0;
}
