@import '../module/breakpoint';
@import '../module/clearfix';

html {
  background: #FFF;
  * {
    cursor: default;
  }
  scroll-behavior: smooth;
}

.Page {
  height: 100vh;
  width: 100%;
  padding: 0.01px;
  position: relative;
  z-index: 50;
}

.PageButtons {
  position: absolute;
  bottom: 10vh; left: 50%;
  .Row {
    margin-top: .5em;
  }
  .Button {
    transform: translateX(-50%);
  }
}

#Landing {
  height: 100vh;
  padding: 0.01px;
  .Button {
    @include breakpoint(lowres) {
      font-size: 1.2em;
    }
  }
}

#Contact {
  text-align: center;
  h1 {
    margin-top: 10vh;
  }
  h4 {
    margin-top: 2.5em;
  }
}

.Project {
  .ProjectTitle {
    padding: .5em;
    &::after {
      content: "";
      display: block;
      @include clearfix;
    }
    .Language {
      height: 3.5em;
      display: block;
      float: left;
    }
    .Name {
      margin-top: .05em;
      margin-left: .2em;
      font-weight: 200;
      font-size: 2.75em;
      float: left;
    }
  }
  .ProjectProperty {
    display: inline-block;
    text-decoration: none;
    color: inherit;
    margin-right: .2em;
  }
  .ProjectLink {
    // display: inline-block;
    // text-decoration: none;
    // color: inherit;
    // margin-right: .2em;
  }
  .PropertyIcon {
    height: 1.25em;
    position: relative;
    bottom: -.25em;
    margin-right: .1em;
  }
  .ProjectDetails, .ProjectBody {
    padding: .5em;
  }
  .ProjectDetails {
    font-size: 1.1em;
    position: relative;
    padding-bottom: 0.75em;
    &::after {
      content: "";
      display: block;
      position: absolute;
      bottom: 0;
      width: calc(100% - 1em);
      height: 1px;
      background-color: #000;
    }
  }
}

#Canvas {
  position: fixed;
  top: 0; left: 0;
  z-index: 0;
  display: block;
  background: none;
  width: 100%;
  height: 100vh;
  transition: all 1s linear;
  &.Inactive {
    opacity: 0.5;
  }
  &.Intro {
    opacity: 0;
  }
}

.Title {
  margin-top: 10vh;
  box-sizing: border-box;
  padding: 1.25em;
  font-size: 1.33rem;
  opacity: 1;
  transition: opacity .5s ease;
  text-align: center;
  &.Intro {
    opacity: 0;
  }
  @include breakpoint(hires portrait) {
    font-size: 1rem;
  }
  .Main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    img {
      position: relative;
      z-index: 5;
      height: 3em; width: 3em;
      margin-right: 1.5em;
      transition: transform .5s ease;
      @include breakpoint(hires portrait) {
        height: 2em; width: 2em;
      }
      &.Intro {
        transform: rotate(90deg);
      }
      &:hover {
        transform: rotate(90deg);
      }
    }
    h1 {
      font-weight: 200;
      text-align: center;
      font-size: 3em;
      margin: 0;
      @include breakpoint(hires portrait) {
        font-size: 2em;
      }
    }
  }
  p {
    @include clearfix;
  }
}

.Button {
  display: inline-block;
  box-sizing: border-box;
  padding: .5em 1em;
  border-radius: 2em;
  background-color: #000C;
  transition: all .3s ease;
  color: #FFF;
  cursor: pointer;
  &:hover {
    background-color: #631F27;
  }
  .Symbol {
    margin: 0 .25em;
    transform: scale(2);
  }
  * { cursor: pointer; }
}
