@import '../module/breakpoint';
@import '../module/clearfix';

html {
  background-color: #634;
}

#Background {
  z-index: -1;
  position: fixed;
  top: 0; left: 0;
  height: 100vh;
  width: calc(100vw - (100vw - 100%)); // NOTE
  background-color: #000;
  transition: opacity 1s ease;
  background-image: url('/img/coding.jpg');
  background-position: center;
  background-size: cover;
  background-blend-mode: luminosity;
  background-color: #634;
  filter: blur(.25em) brightness(50%);
}

#Content {
  position: static;
  top: 0;
  margin: 0;
  display: block;
  color: #FFF;
  padding: 0;
}

#Container {
  opacity: 1;
  transition: opacity .5s ease;
  &.Intro {
    opacity: 0;
  }
  #ListingContainer {
    .Project {
      // background-image: radial-gradient(#804, #423);
      background-color: #333;
      @include breakpoint(lowres) {
        margin: .75em;
      }
      @include breakpoint(hires) {
        margin: .75em 0;
      }
      transition: all .3s ease;
      transition-property: color, background, height, opacity;
      overflow: hidden;
      opacity: .7;
      position: relative;
      @include clearfix;
      &.on {
        background-color: #46C;
        height: 8em;
        // background-image: linear-gradient(90deg, #A05, #634);
        opacity: 0.9;
      }
      &.off {
        height: 2.75em;
        h2 { margin-bottom: .5em; }
        .ProjectBody { .Tags { display: none;} }
        .ButtonMore { width: 0; }
        cursor: pointer;
      }
      &:hover { opacity: 0.9; }
      .Content {
        float: left;
        width: calc(100% - 6em);
        padding: .3em .5em;
        box-sizing: border-box;
        font-weight: 300;
        h2 { transition: margin .3s ease; }
        .ProjectBody {
          .Tags {
            position: absolute;
            bottom: 0.1em;
          }
        }
      }
      .ButtonMore {
        float: right;
        width: 4em;
        height: 100%;
        box-sizing: border-box;
        text-align: center;
        background: #CCCD;
        color: #000;
        transition: all .3s ease;
        transition-property: width, background;
        cursor: pointer;
        div {
          margin-top: 2.25em;
          text-align: center;
          font-weight: 300;
          .Symbol {
            display: block;
            font-size: 1.5em;
          }
        }
        &:hover {
          width: 6em;
        }
      }
      h2 {
        margin: .1em 0;
      }
    }
  }
}
