@import 'module/clearfix';

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300&display=swap');

html, body {
  margin: 0;
  padding: 0;
}

html {
  background-color: #FFF;
  color: #000;
}

body {
  margin: 0;
  font-family: 'Work Sans', sans-serif;
  font-weight: 300;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
  letter-spacing: .033em;
  font-weight: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

input, button {
  font-size: inherit;
  font-weight: inherit;
}

footer {
  position: fixed;
  bottom: .33em; left: .33em;
  font-size: .75rem;
  opacity: .85;
  color: #000;
}

.Tag {
  display: inline-block;
  padding: .25em;
  background-color: #000;
  color: #FFF;
  margin: .33em .15em .33em 0;
}
