
header {
  background-color: #CCC;
  color: #000;
  padding: .5em;
  @include clearfix;
  .HomeLink {
    img {
      display: inline-block;
      height: 1em;
    }
    h3 {
      display: inline-block;
      margin: 0;
      margin-left: .5em;
    }
  }
  .Button {
    float: right;
    border-left: 1px solid #000;
    padding: 0 .5em;
    &:nth-child(2) { // NOTE
      padding-right: 0;
    }
  }
  .Button, .HomeLink {
    transition: color .2s ease;
    &:hover {
      color: #07B;
    }
  }
}
